[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
discord-py-interactions = "*"
lavalink = "*"
interactions-lavalink = "*"
jurigged = "*"
isodate = "*"

[dev-packages]

[requires]
python_version = "3"
